#P1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: firebrick;
}
#P2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: darkblue;
}