@media (max-width: 768px) {
    .wrapper_button{
        margin: 0;
    }
    header{
        margin-bottom: 1%;
    }
    .content {
        width: 80%;
        height: 50%;
        margin-bottom: 1%;
    }
    footer{
        margin-top: 40%;
    }
   }
  