$font-stack:    Helvetica, sans-serif;
$primary-color: #fff;
$height-10: 10%;
$width-100: 100%;
$flex: flex;
$flex-end: flex-end;
@mixin styleItems($color, $width, $height) {
    background-color: $color;
    width: $width;
    height: $height;
}
body{
    margin: 0;
    padding: 0;
    display: $flex;
    justify-content: center;
    font: 100% $font-stack;
    color:$primary-color;
    text-align: center;
}
.wrapper{
    width: $width-100;
    height: 100vh;
    display: $flex;
    justify-content: space-between;
    flex-wrap: wrap;
  .item_red{
    @include styleItems(red, 40%, $height-10);
  }
  .item_orange{
    @include styleItems(orange, 58%, $height-10);
  }
  .item_green{
    @include styleItems(green, $width-100, 55%);
  }
  .item_brown{
    @include styleItems(brown, 32%, 30%);
    align-self: $flex-end;
  }
  .item_blue{
    @include styleItems(blue, 32%, 30%);
    align-self: $flex-end;
  }
  .item_violet{
    @include styleItems(violet, 32%, 30%);
    align-self: $flex-end;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 667px){
    .wrapper{
        font-size: 8px;
      .item_green{
        align-self: flex-start;
        height: 15%;
      }
      .item_red{
        align-self: $flex-end;
        order: 1;
        width: $width-100;
        height: 65%;
      }
      .item_violet{
        align-self: $flex-end;
        height: 15%;
        width: $width-100;
      }
      .item_orange, .item_brown, .item_blue{
        display: none;
      }
    }
   }
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px){
    .wrapper{
        .item_brown{
        display: none;
    }
    .item_orange{
        order: 1;
        align-self: flex-start;
        height: $height-10;
        width: 35%;
    }
    .item_violet{
        order: 2;
        align-self: flex-start;
        height: $height-10;
        width: 60%;
    }
    .item_red{
        order: 3;
        align-self: $flex-end;
        width: $width-100;
        height: 65%;
    }
    .item_green{
        order: 4;
        align-self: $flex-end;
        width: 45%;
        height: 20%;
    }
    .item_blue{
        order: 5;
        align-self: $flex-end;
        width: 45%;
        height: 20%;
    }
    }
}